.TodoItem {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 90%;
    padding: 10px 15px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}

.TodoItem p {
    color: #00a27f;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.task-completed {
    text-decoration: line-through;
}

.TodoItem button {
    border-radius: 20px;
    border: 1px solid #e66767;
    background-color: #e66767;
    height: 40px;
    width: 40px;
    cursor: pointer;
}