.TodoSearch {
    margin: auto;
    width: calc(50% - 50px);
    background-color: #fff;
    border: 2px solid #737373;
    border-radius: 5px;
    height: 35px;
    display: flex;
    align-items: center;
}
.TodoSearch img {
    height: 20px;
    width: 20px;
    margin: 0 5px;
}
.TodoSearch input {
    height: 30px;
    width: 100%;
    border: none;
    font-size: 16px;
    color: #737373;
}
.TodoSearch input:focus {
    outline: none;
}
.TodoSearch:hover {
    border: 2px solid #3867d6;
}